<div class="footer">
    <div class="row py-3 px-2 m-0">
        <div class="col-md-12">
            <ul class="font">
                <li>
                    <a routerLink="/">
                    <i class="font fa fa-file-text-o fa-2x text-center"></i></a>
                </li>
                <li>
                    <i class="font fa fa-circle-o fa-2x text-center"></i>
                </li>
                <li>
                    <a routerLink="/saved">
                    <i class="font fa fa-heart-o fa-2x text-center"></i></a>
                </li>
                <li>
                    <i class="font fa fa-calendar-o fa-2x text-center"></i>
                </li>
                <li>
                    <i class="font fa fa-ellipsis-h fa-2x text-center"></i>
                </li>
            </ul>

        </div>

    </div>
  
</div>