.header {
    background: #0081ae;
    color: #fff;
    border-radius: 0 0 30px 30px;
}
.banner1 {
    background: url("./../../assets/image/image11.jpg");
    background-size: cover;
}
.banner2 {
    background: url("./../../assets/image/image12.jpg");
    background-size: cover;
}
.banner3 {
    background: url("./../../assets/image/image13.jpg");
    background-size: cover;
}

.heart {
    padding: 20px;
    border-radius: 50%;
    background: #fff;
    color: red;
}
.blur {
    background: #85d87b73;
    color: #fff;
}
.blur1 {
    background: #d9e47973;
    color: #fff;
}
.blur2 {
    background: #6d392673;
    color: #fff;
}
.bt {
    margin-bottom: 100px;
}