<div class="header">
    <div class="row py-3 px-2 m-0">
        <div class="col-md-12">
            <div class="float-left">9:41 AM</div>
            <div class="float-right">
                <i class="fa fa-wifi"></i> &nbsp; &nbsp;
                <i class="fa fa-battery-full"></i>
            </div>
        </div>

    </div>
    <div class="row m-0 pb-3">
        <div class="col-md-12">
            <h4 class="text-center">{{title}}</h4>
        </div>
    </div>
</div>
<br>
<div class="bt">
<div class="banner1 py-5 pr-5">
    <div class="row">
        <div class="col-md-12">
            <div class="float-right">
                <i class="fa fa-heart fa-2x heart"></i>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="blur">
                <h3 class="py-5 px-2">638 new cases of covid-19 registerd in Latvia</h3>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
<br>
<div class="banner2 py-5 pr-5">
    <div class="row">
        <div class="col-md-12">
            <div class="float-right">
                <i class="fa fa-heart-o fa-2x heart"></i>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="blur1">
                <h3 class="py-5 px-2">638 new cases of covid-19 registerd in Latvia</h3>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
<br>
<div class="banner3 py-5 pr-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="float-right">
                <i class="fa fa-heart fa-2x heart"></i>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-md-6">
            <div class="blur2">
                <h3 class="py-5 px-2">638 new cases of covid-19 registerd in Latvia</h3>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
</div>