<div class="header">
    <div class="row py-3 px-2 m-0">
        <div class="col-md-12">
            <div class="float-left">9:41 AM</div>
            <div class="float-right">
                <i class="fa fa-wifi"></i>&nbsp; &nbsp;
                <i class="fa fa-battery-full"></i>
            </div>
        </div>

    </div>
    <div class="row m-0 pb-3">
        <div class="col-md-12">
            <h4 class="text-center">{{title}}</h4>
        </div>
    </div>
</div>

<div class="gallary_section py-5">
   
    <div class="row m-0">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                  <div class="float-left w-50 pr-3">
                      <div class="image">
                        <img class="w-100" src="./../../assets/image/car-gallary.png">
                        <div class="middle">
                            <div class="text">Accomodation</div>
                          </div>
                      </div>
                    <br>
                    <div class="image">
                        <img class="w-100 image" src="./../../assets/image/car-gallary.png">
                        <div class="middle">
                            <div class="text">Accomodation</div>
                          </div>
                    </div>
                 
                  </div>
                  <div class="float-right w-50 pl-3">
                    <div class="image">
                        <img class="w-100 gallary" src="./../../assets/image/gallary.png">
                        <div class="middle">
                            <div class="text">Accomodation</div>
                          </div>
                    </div>
                   
                  </div>
                </div>
            </div>
        
    
        </div>
        <div class="col-md-6 mt">
            <div class="image">
                <img class="w-100" src="./../../assets/image/gallary10 1.png">
                <div class="middle">
                    <div class="text">Accomodation</div>
                  </div>
            </div>
            
            <br>
          <div class="row">
              <div class="col-md-12">
                  <div class="float-left w-50 pr-3">
                      <div class="image">
                        <img class="w-100" src="./../../assets/image/car-gallary.png">
                        <div class="middle">
                            <div class="text">Accomodation</div>
                          </div>
                      </div>
                   
                  </div>
                  <div class="float-right w-50 pl-3">
                   <div class="image">
                    <img class="w-100" src="./../../assets/image/car-gallary.png">
                    <div class="middle">
                        <div class="text">Accomodation</div>
                      </div>
                   </div>
                  </div>
              </div>
              
          </div>
        </div>
    </div>
  <br>
  <div class="row m-0">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
              <div class="float-left w-50 pr-3">
                  <div class="image">
                    <img class="w-100" src="./../../assets/image/car-gallary.png">
                    <div class="middle">
                        <div class="text">Accomodation</div>
                      </div>
                  </div>
                <br>
                <div class="image">
                    <img class="w-100 image" src="./../../assets/image/car-gallary.png">
                    <div class="middle">
                        <div class="text">Accomodation</div>
                      </div>
                </div>
             
              </div>
              <div class="float-right w-50 pl-3">
                <div class="image">
                    <img class="w-100 gallary" src="./../../assets/image/gallary.png">
                    <div class="middle">
                        <div class="text">Accomodation</div>
                      </div>
                </div>
               
              </div>
            </div>
        </div>
    

    </div>
    <div class="col-md-6 mt">
        <div class="image">
            <img class="w-100" src="./../../assets/image/gallary10 1.png">
            <div class="middle">
                <div class="text">Accomodation</div>
              </div>
        </div>
        
        <br>
      <div class="row">
          <div class="col-md-12">
              <div class="float-left w-50 pr-3">
                  <div class="image">
                    <img class="w-100" src="./../../assets/image/car-gallary.png">
                    <div class="middle">
                        <div class="text">Accomodation</div>
                      </div>
                  </div>
               
              </div>
              <div class="float-right w-50 pl-3">
               <div class="image">
                <img class="w-100" src="./../../assets/image/car-gallary.png">
                <div class="middle">
                    <div class="text">Accomodation</div>
                  </div>
               </div>
              </div>
          </div>
          
      </div>
    </div>
</div>
<br>

<div class="row m-0">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
              <div class="float-left w-50 pr-3">
                  <div class="image">
                    <img class="w-100" src="./../../assets/image/car-gallary.png">
                    <div class="middle">
                        <div class="text">Accomodation</div>
                      </div>
                  </div>
                <br>
                <div class="image">
                    <img class="w-100 image" src="./../../assets/image/car-gallary.png">
                    <div class="middle">
                        <div class="text">Accomodation</div>
                      </div>
                </div>
             
              </div>
              <div class="float-right w-50 pl-3">
                <div class="image">
                    <img class="w-100 gallary" src="./../../assets/image/gallary.png">
                    <div class="middle">
                        <div class="text">Accomodation</div>
                      </div>
                </div>
               
              </div>
            </div>
        </div>
    

    </div>
    <div class="col-md-6 mt">
        <div class="image">
            <img class="w-100" src="./../../assets/image/gallary10 1.png">
            <div class="middle">
                <div class="text">Accomodation</div>
              </div>
        </div>
        
        <br>
      <div class="row pb-5">
          <div class="col-md-12">
              <div class="float-left w-50 pr-3">
                  <div class="image">
                    <img class="w-100" src="./../../assets/image/car-gallary.png">
                    <div class="middle">
                        <div class="text">Accomodation</div>
                      </div>
                  </div>
               
              </div>
              <div class="float-right w-50 pl-3">
               <div class="image">
                <img class="w-100" src="./../../assets/image/car-gallary.png">
                <div class="middle">
                    <div class="text">Accomodation</div>
                  </div>
               </div>
              </div>
          </div>
          
      </div>
    </div>
</div>
  
  
  </div>